.change-password-dialog {
    background-color: #222222;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    min-width: 350px;
}

.change-password-dialog header {
    background-color: #222222;
}

.change-password-dialog input {
    margin-bottom: 1.5rem;
}

.change-password-dialog-btn {
    width: 100px;
    height: 35px;
    color: white;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.cancel-btn {
    outline: 1px solid #b3b3b3;
    outline-offset: -2px;
    background-color: transparent;
}

.cancel-btn:hover {
    outline: 2px solid #dbdbdb;
}

.cancel-btn a {
    background-color: #D3A500;
    width: 100%;

}

.save-btn {
    background-color: var(--red);
}

.save-btn:hover {
    background-color: var(--red-hover);
}
