.box {
    background-color: black;
}

.image-box {
    background-image: url(../img/contact.jpg);
    min-height: 850px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    max-width: 1100px;
    min-height: 30rem;
    background-color: rgba(17, 17, 17, 0.44);
    border-radius: 2rem;
    margin: 0.5rem;
}

.content > h2 {
    text-align: center;
    font-weight: bolder;
    padding: 1.5rem;
}

.thank-you-msg {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}

.form-btn {
    width: 120px;
    background-color: var(--red);
    color: var(--text-light);
    margin-left: 1.5rem;
}

.form-btn:hover {
    cursor: pointer;
    background-color: var(--red-hover);
}

.contact-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem 0;
}

.contact-grid .contact-message, .contact-grid .contact-topic, .contact-grid .messages {
    grid-column: span 2;
}

.contact-grid .contact-message, .contact-grid .contact-topic, .contact-grid .contact-name, .contact-grid .contact-email {
    align-items: flex-start;
}

#contact-message, #topic, #name, #email {
    width: 100%;
}

.contact-message textarea {
    resize: none;
}

.contact-grid input, .contact-grid textarea {
    margin: 0;
}

.contact-grid label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.contact-email {
    margin-left: 1rem;
}

.contact-grid .form-btn {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:540px) {
    .contact-grid .contact-name, .contact-grid .contact-email {
        grid-column: span 2;
    }
    .contact-email {
        margin-left: 0;
    }
}
