.dashboard-container {
    width: 100%;
    min-height: 850px;
}

.dashboard-grid {
    height: 600px;
    display: grid;
    gap: 0.5rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.dashboard-grid {
    max-width: 630px;
}

.dashboard-item img {
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
}

.workouts-btn {
    position: relative;
    bottom: 3rem;
    background-color: var(--red);
    width: 16rem;
    padding: 0.7rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: 3px solid #fff;
}

.workouts-btn:hover {
    background-color: var(--red-hover);
}

.active-workout-text {
    margin-top: 2rem;
}

.active-workout-container {
    margin-bottom: 2rem;
}

@media screen and (max-width: 650px) {
    .dashboard-navigation {
        flex-direction: column;
    }

    .dashboard-navigation * {
        margin: 0.7rem;
    }
}

@media screen and (max-width:680px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 800px;
    }

    .btn-navigate:first-child {
        margin-top: 2rem;
    }

    .active-workout-text {
        margin-top: 2rem;
    }
}
