.dashboard-container {
    width: 100%;
    min-height: 850px;
}

.dashboard-section-1 {
    width: 1100px;
}

.dashboard-grid {
    height: 600px;
    display: grid;
    gap: 0.5rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}

.dashboard-item img {
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
}

.workouts-btn {
    position: relative;
    bottom: 3rem;
    background-color: var(--red);
    width: 16rem;
    padding: 0.7rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: 3px solid #fff;
}

.workouts-btn:hover {
    background-color: var(--red-hover);
}

.dashboard-container .add-btn {
    font-weight: bolder;
    background-color: transparent;
    border: 0.2rem solid var(--text-light);;
    padding: 1rem;
}

.dashboard-container .add-btn:hover {
    background-color: var(--text-light);
    color: var(--red);
}

@media screen and (max-width: 650px) {
    .dashboard-navigation {
        flex-direction: column;
    }

    .dashboard-navigation * {
        margin: 0.7rem;
    }
}

@media screen and (max-width:680px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 1000px;
    }
}
