/*  ---------------------------
Global
---------------------------  */

:root {
    --background: #0f0f0f;
    --text-light: #f5f5f5;
    --text-dark: #0a0a0a;
    --header: #000000;
    --header-hover: #e2e2e2;
    --red: #B60000;
    --red-hover: #990101;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: var(--text-light);
    background-color: var(--background);
    overscroll-behavior-y: none;
}

h1 {
    font-size: 2rem;
    margin: 1rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0.5rem;
    margin-bottom: 1rem;
    padding: 2rem 0.5rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: lighter;
    margin: 1rem 0.8rem;
}

a {
    text-decoration: none;
    text-align: center;
}

.grid-col-span-3 {
    grid-column: span 3;
}

/*  ---------------------------
    Sections
---------------------------  */

/* header */

header {
    min-height: 100px;
    width: 100%;
    gap: 1rem 0.5rem;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.header-item {
    width: 190px;
    height: 50px;
}

.header-item-btn > a {
    display: block;
    height: 100%;
    width: 100%;
    color: var(--text-light);
    font-size: 1.8rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
    transition-duration: 0.3s;
}

#logo {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0.3rem;
    border-radius: 1rem;
}

.header-item-btn > a:hover {
    background-color: var(--header-hover);
    color: var(--text-dark);
}
 

.header-item img:hover {
    background-color: rgb(22, 22, 22);
}

/* .header-item:first-child:hover {
    border-radius: 15px;
    background-color: rgb(22, 22, 22);
} */

@media screen and (max-width: 1015px) {
    .header-item {
        width: 170px;
        height: 55px;
    }
}

@media screen and (max-width: 640px) {
    .header-item-btn > a {
        font-size: 1.5rem;
    }

    .header-item {
        width: 150px;
        height: 50px;
    }
}

/* footer */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-grid {
    width: 1000px;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
}

.footer-btn {
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1.5rem;
}

#logo-round {
    width: 90px;
    height: 90px;
}

.footer-btn:last-child {
    grid-row: 1 / -1;
    grid-column: 4;
    width: 100%;
    height: 100%;
    padding-left: 0.4rem;
    justify-content: right;
    padding-right: 1.5rem;
}

.footer-btn > a {
    color: var(--text-light);
}

.copyright-box {
    width: 100%;
}

.copyright {
    height: 1.5rem;
    background-color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 550px) {
    #logo-round {
        width: 65px;
        height: 65px;
    }

    .footer-btn {
        padding-left: 1rem;
    }

    .footer-btn:last-child {
        padding-right: 1rem;
    }
}
