/*  ---------------------------
Global
---------------------------  */

:root {
    --background: #0f0f0f;
    --text-light: #f5f5f5;
    --text-dark: #0a0a0a;
    --header: #000000;
    --header-hover: #e2e2e2;
    --red: #B60000;
    --red-hover: #990101;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: var(--text-light);
    background-color: var(--background);
    overscroll-behavior-y: none;
}

h1 {
    font-size: 2rem;
    margin: 1.5rem 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0.1rem 1rem 0.5rem 0.5rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: lighter;
    margin: 1rem 0.8rem;
}

a {
    text-decoration: none;
    text-align: center;
}

/*  ---------------------------
    Sections
---------------------------  */

header {
    min-height: 100px;
    width: 100%;
    gap: 1rem;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.header-item {
    width: 190px;
    height: 50px;
}

.header-item-btn > a {
    display: block;
    height: 100%;
    width: 100%;
    color: var(--text-light);
    font-size: 1.8rem;
    padding-top: 0.5rem;
    border-radius: 15px;
    transition-duration: 0.3s;
}

#logo {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0.3rem;
    border-radius: 15px;
}

.header-item-btn > a:hover {
    background-color: var(--header-hover);
    color: var(--text-dark);
}
 
 img:hover {
    background-color: rgb(22, 22, 22);
}

@media screen and (max-width: 600px) {
    .header-item-btn > a {
        font-size: 1.5rem;
    }

    .header-item {
        width: 160px;
        height: 45px;
    }
}

.grid-col-span-3 {
    grid-column: span 3;
}