section {
    width: 100%;
    min-height: 850px;
    background: rgb(0,36,126);
    background: linear-gradient(rgba(0,36,126,1) 0%, rgba(32,19,84,1) 80%, rgba(182,0,0,1) 140%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: rgba(0, 0, 0, 0.35);
    max-width: 400px;
    max-height: 600px;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 1rem #0a0a0a;
}

.content a {
    max-width: 100px;
    margin-top: 1rem;
}

.content input {
    width: 280px;
    margin-top: 0;
}

.content > h3 {
    padding: 0;
    margin: 0.5rem 0.5rem 0;
}

.content h2 {
    font-weight: 600;
}

.content > h4 {
   font-weight: normal;
    margin-left: 1rem;
}

.content a:last-child {
    background-color: transparent;
    border: var(--red) solid 1px;
    margin-left: 1rem;
}

.content a:last-child:hover {
    background-color: var(--red);;
}

.messages {
    color: var(--red);
    padding: 1rem;
}

@media screen and (max-width: 500px) {
    .content {
        padding: 1rem;
    }
}

.invalid-input {
    border: 3px solid red;
    box-shadow: 0 0 0.7rem red;
    outline: none;
}

.valid-input {
    border: 3px solid green;
    box-shadow: 0 0 1rem green;
}
