section.container {
    margin-top: 100px;
    justify-content: flex-start;
}

.personal-info {
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 300px;
    align-items: flex-start;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0);
}

.personal-info h3 {
    margin: 0;
    padding: 1rem 0;
}

.personal-info h4 {
    padding-bottom: 1rem;
}

.change-password-btn {
    background-color: var(--red);
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.change-password-btn:hover {
    background-color: var(--red-hover);
}
