.workouts-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.workouts-list {
    min-width: 900px;
    min-height: 850px;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.workouts-list h3 {
    padding: 0;
    margin: 0.4rem 0 0;
}

#workout-item {
    max-width: 300px;
    height: 290px;
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 3rem 3rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#workout-item * {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.2rem;
}

#workout-item :first-child {
    margin: 0.5rem;
}

.workout-details-btn {
    width: 120px;
    padding: 0.5rem;
    border: 2px solid white;
    margin-top:0.5rem;
    /* transform: translateY(1.3rem); */
}

.workout-crest { background-color: gray; }
.workout-crest-easy { background-color: var(--difficulty-easy); }
.workout-crest-medium { background-color: var(--difficulty-medium); }
.workout-crest-hard { background-color: var(--difficulty-hard); }
.workout-crest-very-hard { background-color: var(--difficulty-very-hard); }

.workout-inside-box {
    background-color: hsla(0, 0%, 15%, 0.493);
    border-radius: 0.5rem;
    width: 95%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.workout-difficulty {
    width: 10rem;
    margin: 0.5rem;
}