.workout-crest { background-color: transparent }
.workout-crest-easy { background-color: var(--difficulty-easy) !important; }
.workout-crest-medium { background-color: var(--difficulty-medium) !important; }
.workout-crest-hard { background-color: var(--difficulty-hard) !important; }
.workout-crest-very-hard { background-color: var(--difficulty-very-hard) !important; }

.workouts-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.workouts-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.workout-item {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 1rem;
}

.workout-item * {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.2rem;
}

.workout-item h3 {
    padding: 0.3rem;
}

.item-name, .item-difficulty, .item-exercises, .item-type, .item-details {
    width: 100%;
    height: max-content;
    border: 1px solid #ffffff;
}

.item-name {
    border-radius: 10px 10px 0 0;
}

.item-details {
    border-radius: 0 0 10px 10px;
}

.item-exercises {
    flex-grow: 1;
}

.workout-details-btn {
    width: 100%;
    height: 40px;
    border-radius: 0 0 10px 10px;
}

.workout-details-btn a {
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
}

.workout-details-btn:hover {
    background-color: #1f1f1f;
}

@media screen and (max-width: 1000px) {
    .workouts-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 660px) {
    .workouts-list {
        grid-template-columns: 1fr;
    }
}
