<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
</head>
<body>
    <header>
        <a href="/"><img src="../img/logo_text.svg" alt="Workager logo" id="logo"></a>

        <!-- <a href="/" id="logo">Workager logo</a> -->
        <div class="header-item">
            <a href="/contact">Contact</a>
        </div>
        <div class="header-item">
            <a href="/plans">Plans</a>
            <!-- <a href="/plans">Plans</a> -->
        </div>
        <div class="header-item">
            <a href="/workouts">Workouts</a>
        </div>
        <div class="header-item">
            <a href="/login">Login</a>
        </div>
    </header>
    <section>
        <div class="hero">
            <h1 class="item">Workager, your workout manager</h1>
            <h2 class="item">The best solution to support you <br>
                during your training sessions</h2>
            <button class="hero-button item">Sign up now</button>
    
        </div>
    </section>
    <section>
        <div class="section-two">
            <div class="content-item">
                <h1>Dozens of workouts at your fingertips</h1>
                <h2>We offer world-class workouts to help 
                    you become a better version of yourself</h2>
            </div>
            <div class="content-item">
                <div class="img-box">
                    <img src="../img/single-workout-homepage.png" alt="Single workout">
                </div>
                <h2>Single workout</h2>
            </div>
            <div class="content-item">
                <div class="img-box">
                    <img src="../img/workout-plan-homepage.png" alt="Workout plan">
                </div>
                <h2>Multi-week workout plan</h2>
            </div>
        </div>
    </section>
    <section>
        <div class="section-three">
            <h1>Training plan based on your needs</h1>
            <h2>Choose the right type of workout for you</h2>
        </div>
    </section>
    <section>
        <div class="section-four">
            <h1>Train as hard as you want</h1>
            <h2>Select the difficulty level from the available options:</h2>
            <h3>Just a training</h3>
            <h3>Hard work</h3>
            <h3>Blood, sweat and tears</h3>
            <h3>Death march!</h3>
        </div>
    </section>
    <section>
        <div class="section-five">
            <h1>Facilitated strength progression</h1>
            <h2>Just enter the weights from your
                first workout session and workager will 
                automatically suggest a weekly progression</h2>
        </div>
    </section>

</body>
</html>
