.hero {
    height: 850px;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 9, 0.91) 0%, #1D0000 100%);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    

}

.section-two {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.section-two img {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    margin: 10px 0;
    
}

.section-two .content-item {
    height: auto;
    width: auto;
    margin: 10px 20px;
    background-color: blue;
}

.section-two .content-item:first-child {
    text-align: left;
    padding-left: 3rem;
    /* width: 700px; */
}

.section-two .img-box {
    object-fit: cover;
}


/* @media only screen and (max-width: 1245px) {

 } */   
